{% extends 'base.html.twig' %}

{% block title %}Add chapter{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script>
    var easyMDE = new EasyMDE();
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3">
        <h1>Add chapter</h1>
        <a href="{{ path('book_show', {'id': chapter.book.id}) }}" class="btn btn-outline-primary">back to book</a>

        {{ include('book/_form.html.twig') }}
    </div>
{% endblock %}
